@import 'variables.less';

.editorPage {
  display: flex;
  min-height: @h-screen;
}

.toolbar {
  width: 76px;
  display: flex;
  justify-content: center;
  padding-top: @padding-xxl;
}

.editorSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: @width-full;
  padding: @padding-xl @padding-xl @padding-xl @padding-none;
}

.answerSection {
  padding-top: @padding-xl;
  background-color: @primary-color;
  border-radius: @border-radius;
  width: @width-full;
  height: @height-full;
  text-align: center;
}

.editorContent {
  display: flex;
  justify-content: center;
  align-items: end;
  height: max-content;
  width: @width-full;
  padding-top: @padding-lg;
}
