.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  border-radius: 12px;
  cursor: pointer;

  path {
    fill: #b5b5b5;
  }

  &:hover {
    background-color: #f8f8f8;

    path {
      fill: #5b5b5b;
    }
  }
}

.contained {
  background-color: #eae9ea;
}

.outlined {
  background-color: #f8f7f8;
  border: 1px solid #b5b5b5;
}

.rounded {
  border-radius: 50%;
}
